<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.exampleUSESOMEUNIQUEIDHERE031520151109" versionCode="10" version="1.0.0">
<!--  versionCode is optional and Android only  -->
<name>Connection App</name>
<description>An example for phonegap build docs.</description>
<preference name="phonegap-version" value="3.7.0"/>
<!--  above added by J McHugh on 3.15.2015 10.51am   -->
<gap:plugin name="org.apache.cordova.network-information" version="0.2.7"/>
<gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" /> 
</widget>
